@import "../../shared/css/common.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
}

h6 {
  font-size: 1.3rem;
}

.subheading {
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}